Cargo.lock
target/
/tmp*
**/*.h5
*~
*.swp
.vagrant/
*.ipynb*
.idea/
sweep.timestamp
.cargo/
.cargo/config.toml

# Julia
tests/julia/Manifest.toml

# Python virtual environment
tests/python/.venv/*.disabled
